<style>
    table {
        width: 100%;
    }
    table td {
        text-align: center;
        border-bottom: 1px solid black;
    }
</style>

<a href='{% url "model_files:book.add" %}'>Add Book</a>

<hr />

{% if object_list %}
    <table>
        {% for obj in object_list %}
            <tr>
                <td>
                    <a href='{{ obj.get_absolute_url }}'>{{ obj.pk }}</a>
                </td>
                <td>
                    <a href='{{ obj.get_absolute_url }}'>{{ obj }}</a>
                </td>
                <td>
                    {% if obj.index %}
                        <a href='{% url "db_file_storage.download_file" %}?name={{ obj.index }}'>
                            <i>Download index</i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if obj.pages %}
                        <a href='{% url "db_file_storage.download_file" %}?name={{ obj.pages }}'>
                            <i>Download pages</i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if obj.cover %}
                        <a href='{% url "db_file_storage.get_file" %}?name={{ obj.cover }}' target='_blank'>
                            <img height=64 width=64 src="{% url 'db_file_storage.get_file' %}?name={{ obj.cover }}" />
                        </a>
                        <br/>
                        <a href='{% url "db_file_storage.download_file" %}?name={{ obj.cover }}'>
                            <i>Download</i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No items found.</p>
{% endif %}
<hr/>
<div align='center'>
    <a href="{% url 'home' %}">Home</a>
</div>